.big-board {
  width: 600px;
  height: 600px;
  display: grid; /* Enables CSS Grid */
  grid-template-columns: repeat(
    3,
    1fr
  ); /* Total horizontal space broken into 3 columns */
  grid-template-rows: repeat(3, 1fr);
  margin: auto;
}

.big-box.clickable-me {
  background: #fff02b;
}

.big-box.clickable-others {
  background: #fff78f;
}

.big-box.middle-horizontal {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.big-box.middle-verticle {
  border-left: 2px solid black;
  border-right: 2px solid black;
}

body {
  background: #b2e7eb;
  text-align: center;
}

.current-user {
  background-color: #a2dbac;
  border-bottom: 1px solid black;
}

.leaderboard {
  border-bottom: 1px solid black;
}

li {
  list-style-type: none;
}

.playerx {
  color: #ebb6b2;
}

.playero {
  color: #b6b2eb;
}

.small-board {
  background: #ffd496;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  margin: 11% auto;
  width: 80%;
  height: 80%;
}

.small-board.playerx {
  background: #ebb6b2;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  margin: 11% auto;
  width: 80%;
  height: 80%;
}

.small-board.playero {
  background: #b6b2eb;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  margin: 11% auto;
  width: 80%;
  height: 80%;
}

.small-box {
  align-items: center;
  border: 1px solid #fab552;
  display: flex;
  font-size: 35px;
  justify-content: center;
}

.small-box.playerx {
  align-items: center;
  border: 1px solid #740000;
  display: flex;
  font-size: 35px;
  justify-content: center;
}

.small-box.playero {
  align-items: center;
  border: 1px solid #5e3fa8;
  display: flex;
  font-size: 35px;
  justify-content: center;
}

table {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  table-layout: fixed;
}

th,
td {
  padding: 4px;
}

.user-headers {
  font-weight: bold;
}
